---
import './card-portfolio.css';
const {
	title,
	descripcion,
	imgSrc,
	skills,
	repoURL,
	demoURL,
	averageBrightness,
} = Astro.props;
---

<div class="card__portfolio">
	<div class="descripcion__container">
		<h2 class="card__title">{title}</h2>
		<div class="descripcion">
			<p>{descripcion}</p>

			<div class="skills">
				{
					skills.map((skill) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

			<div class="buttons">
				<a href={repoURL} target="_blank" rel="noopener noreferrer">
					<span>
						View on GitHub
						<iconify-icon icon="mdi:github" />
					</span>
				</a>
			</div>
		</div>
	</div>
</div>