---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Rutvij Rana</h1>
			<p class="hero__text">
				Solving problems with data, AI/ML, and strategy.
			</p>
			<Boton href="#portfolio" texto="View My Work"/>
			<div class="hero__tags">
				<span class="tag">Analytics Strategist</span>
				<span class="tag">ML Specialist</span>
				<span class="tag">AI Enthusiast</span>
				<span class="tag">Data Scientist</span>
			</div>
		</div>
    <img
		class="hero__img"
		src="/img/rutvij_avatar.png"
		alt="Rutvij Rana"
		width="384"
    	height="384"
	/>
	</div>
</section>