---
import Title from '../atoms/Title.astro';
import "./about.css"
---

<section id="about" class="about">
	<div class="about__container">
		<div class="about__content">
			<Title margin="1rem" contenido="About Me" />
			<p class="about__intro">
			</p>
			<p class="about__description">
				Hi, I'm Rutvij, a data professional with expertise in AI/ML and advanced analytics. 
				I design and implement data-driven solutions that deliver real business value, 
				leveraging tools like Python, R, and SQL to translate complex problems into actionable 
				insights. With an MSc in Analytics from Georgia Tech and experience across 
				government and healthcare sectors, I’m passionate about using data to accelerate impact. 
			</p>
		</div>
	</div>
</section>