---
import './header.css';
const { origin } = Astro.props;
import Logo from '../Logo.astro';
---

<header class="header">
	<div class="header__container">
		<Logo name="Rutvij Rana"/>
		<nav class="links" tabindex="0.1">
			<button class="menu__btn">Menu</button>
			<ul class="header__list">
				{
					origin.map((data) => (
						<li>
							<a 
								class={`menu__link ${data.iconOnly ? 'icon-only' : ''}`}
								href={data.link}
								target={data.external ? "_blank" : undefined}
								rel={data.external ? "noopener noreferrer" : undefined}
								title={data.external ? (data.icon.includes('linkedin') ? 'LinkedIn Profile' : 'GitHub Profile') : undefined}
							>
								<span class="icon__container">
									<iconify-icon
										class="icons"
										icon={data.icon}
										width="20"
										height="20"
									/>
									{data.iconOnly ? '' : data.content}
								</span>
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>